.slider {
	background: $clr-gray-light;
	padding-bottom: 7.8vw;
	&__header {
		padding-top: 7.8vw;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-bottom: 3.5vw;
	}

	&__slide {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;

		position: relative;
	}

	&__pic {
		max-width: 30.4vw;
		max-height: 37.6vw;

		transform: translateX( -80px);
	}
	&__img {
		max-width: 100%;
	}

	&__content {
		background: $clr-white;
		box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
		z-index: 2;
		width: 34.6vw;
		height: 32.7vw;
		max-width: 665px;
		padding: 4vw 3.1vw 2.6vw;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

	}

	&__item {
		display: none;
		flex-direction: column;
		align-items: center;
	}

	&__icon {
		position: relative;
		height: 100px;
		width: 100px;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 2.8vw;
		&--border {
			position: absolute;
			background: $clr-red;
			min-width: 50px;
			min-height: 50px;
			width: 4.6vw;
			height: 4.6vw;
			z-index: -1;
			transform: rotate(45deg);
		}
		&--image {
			display: flex;
			justify-content: center;
			align-items: center;
		}

	}
	&__dash {
		border: 0.5px solid $clr-gray-dark;
		width: 42px;
		height: 0px;
		margin: 0.78vw 0 0.67vw;
	}
	&__text {
		text-align: center;
		overflow: hidden;
	}

	&__more {
		width: 145px;
		background: $clr-red;
		margin: 2.5vw 0;
		padding: 0.9vw;
		flex-shrink: 0;
	}

	&__dots {
		text-align: center;
	}
	&__dot {
		cursor: pointer;
		height: 12px;
		width: 12px;
		margin: 0 2px;
		background-color: $clr-gray;
		border-radius: 50%;
		display: inline-block;
		transition: background-color 0.6s ease;
		&--active {
			background: $clr-red;
		}

		&:hover {
			background: $clr-red;
		}
	}
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;

    &__close {
		position: absolute;
		top: 0;
		right: 0;
		padding: 0.5rem 1rem;
		font-size: 1.5rem;
		cursor: pointer;
		color: $clr-red;
		&:hover {
			background: rgba(0, 0, 0, 0.2)
		}
    }

    /* Modal Content/Box */
    &__content {
        background-color: #fefefe;
        margin: 5px auto; /* 15% from the top and centered */
        border: 1px solid #888;
        width: 50%; /* Could be more or less, depending on screen size */
        padding: 2rem 1.5rem;
        position: relative;
    }
}



/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}
